<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<header class="navbar">
    <section class="navbar-section">
        <a href="/informer" class="btn btn-link">Informer</a>
        <a href="/recommender" class="btn btn-link">Recommender</a>
        <a href="/scheduler" class="btn btn-link">Scheduler</a>
    </section>
    <section class="navbar-center">
        <span class="label label-primary">Sameer Puri's Degree Adviser</span>
    </section>
    <section class="navbar-section">
        <a href="/about" class="btn btn-link">About</a>
    </section>
</header>

{% block body %}{% endblock %}
</body>
</html>